$resetBtn: #9055a2;
$eraseBtn: #95a5a6;

*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #eee;
}

.title {
  text-align: center;
  margin-top: 2rem;
}
.container {
  margin: 2rem auto;
  border: #000 solid 1px;
  width: 50rem;
  height: 50rem;
  display: grid;
}
.btn-wrapper {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.btn {
  margin-left: 1rem;
  border: none;
  color: #fff;
  padding: 1.5rem;
  border-radius: 1rem;
  outline: none;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: bolder;
}
.btn:active {
  transform: translateY(0.1rem);
  box-shadow: 0 0.1rem 0.1rem #000;
}

.reset {
  background-color: $resetBtn;
  color: #011638;
}
.erase {
  background-color: $eraseBtn;
  color: #000;
}

@media only screen and (max-width: 40em) {
  .container {
    width: 40rem;
    height: 40rem;
  }
}

@media only screen and (max-width: 35em) {
  .container {
    width: 35rem;
    height: 35rem;
  }
}
