@import "base";

.title {
  text-align: center;
  margin-top: 2rem;
  font-size: 2.5rem;
}
.container {
  margin: 2rem auto;
  border: #000 solid 1px;
  width: 50rem;
  height: 50rem;
  display: grid;
}
.btn-wrapper {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.btn {
  margin-left: 1rem;
  border: none;
  color: #fff;
  padding: 1.5rem;
  border-radius: 1rem;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
  font-weight: bolder;
  box-shadow: 0 0.3rem 0.2rem #333;
}
.btn:active {
  transform: translateY(0.1rem);
  box-shadow: none;
}

.reset {
  background-color: $resetBtn;
  color: #011638;
}
.erase {
  background-color: $eraseBtn;
  color: #000;
}

@media only screen and (max-width: 40em) {
  .container {
    width: 40rem;
    height: 40rem;
  }
}

@media only screen and (max-width: 35em) {
  .container {
    width: 35rem;
    height: 35rem;
  }
}
